<!DOCTYPE html>
<body>
    <a href="/">Home</a> <br/>
    <a href="/verifyproductpage">Verify Product</a><br/>
    <a href="/adddistributorpage">Add Distributor</a><br/>
    <a href="/addretailerpage">Add Retailer</a>

    <form action="/adddistributorform" method="post">
        <label>Enter Product Id</label><br/>
        <input type="number" name="id" /> <br/>
        <label>Enter Distributor Wallet</label> <br/>
        <input type="text" name="address" /> <br/>
        <input type="submit" value="Add Distribuor" />
    </form>
    {{response}}
</body>